body {
    background-color: #efeee7;
    font-family:Georgia, 'Times New Roman', Times, serif;
    olor: #333333;
    font-size:18px;
    margin: 0;
    padding: 0;
    line-height: 150%
}
header {
    background-color: #333333;
}
h1 {
    color:#eee;
    font-size:28px;
    margin: 3% 3% 3% 3%;
    text-align:center
}
h2 {
    font-size:24px;
}
.container {
    widows: 1024px;
    margin: 0 auto
}
#figure {
    position: relative;
  }
#bio-name {
    position: absolute;
    top: 100px;
    left: 30px;
  }
#main-bio {
    float:left;
    width:70%;
}
#contact-info {
    float:left;
    width:30%;
}
#bio-image {
    float:left;
    width:200px;
    margin-right: 20px;
}